.table {
  display: grid;
  grid-template-rows: auto 1fr;
  width:99%;
  padding: 8px;
}

.table-head {
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.1fr 0.6fr 1fr 0.5fr 0.5fr;
  background-color: #323239;
  font-weight: bold;
  height: 35px;
  color: #959595;
  align-items: center;
    border: 1px solid #F4F4F42B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.name-head,.status-head{
  margin-left: 12px;
}

.table-body {
  display: grid;
  background-color: #131319;
  color: #FFFFFF;
}

.table-row {
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.1fr 0.6fr 1fr 0.5fr 0.5fr;
  align-items: center;
  border: 1px solid #F4F4F42B;
  padding: 12px;
}

.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
}

.empty-cell {
  width: 50px;
}
.activity-cell{
  display: flex;
  row-gap: 4px;
  column-gap: 5px;
}
.activity-mails,.activity-replies,.activity-clicks,.name-cell,.company-cell{
  display: flex;
  align-items: center;
  row-gap: 3px;
  column-gap: 6px;
}